@model CapaEntidad.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear una cuenta</h3></div>
                                <div class="card-body">
                                    <form action="@Url.Action("Registrar", "Acceso")" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", @id = "txtnombre", @placeholder = ".", value = ViewData["Nombres"] })
                                                    @Html.Label("txtnombre", "Nombres")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", @id = "txtapellidos", @placeholder = ".", value = ViewData["Apellidos"] })
                                                    @Html.Label("txtapellidos", "Apellidos")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @id = "txtcorreo", @placeholder = ".", value = ViewData["Correo"] })
                                            @Html.Label("txtcorreo", "Correo")
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.PasswordFor(m => m.Clave, new { @class = "form-control", @id = "txtclave", @placeholder = "." })
                                                    @Html.Label("txtclave", "Contraseña")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.PasswordFor(m => m.ConfirmarClave, new { @class = "form-control", @id = "txtconfirmaclave", @placeholder = "." })
                                                    @Html.Label("txtconfirmaclave", "Confirmar Contraseña")
                                                </div>
                                            </div>
                                        </div>

                                        @{
                                            if (ViewBag.Error != null)
                                            {
                                                <div class="row mb-3">
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Crear Cuenta</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("Index", "Acceso")">¿Ya tienes una cuenta? Iniciar Sesión</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
